version: 2
jobs:
  build_and_test:
    macos:
      xcode: 13.4.1
    steps:
      - checkout
      - run:
          name: Xcode version
          command: xcode-select -p
      - run:
          name: List simulators
          command: xcrun simctl list
      - run:
          name: Install dependencies
          command: |
            gem install xcpretty cocoapods jazzy
      - run:
          name: Test
          command: make clean test-pretty
      - run:
          name: Docs
          command: make docs
      - run:
          name: Lint
          command: make lint
      - run:
          name: Build example
          command: make build-example-pretty
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test
