<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pulse.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>54CFE4000A674265FB0C6A24007F3573F44AC7D0</string>
				<key>dateExpires</key>
				<string>5/27/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54CFE4000A674265FB0C6A24007F3573F44AC7D0</string>
						<key>dateExpires</key>
						<string>5/27/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RadarSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96GHH65B9D</string>
						<key>name</key>
						<string>Radar Labs, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54CFE4000A674265FB0C6A24007F3573F44AC7D0</string>
						<key>dateExpires</key>
						<string>5/27/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RadarSDKMotion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96GHH65B9D</string>
						<key>name</key>
						<string>Radar Labs, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.22.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>96GHH65B9D.io.radar.pulse</string>
				<key>com.apple.developer.team-identifier</key>
				<string>96GHH65B9D</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Pulse.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3ec28a70-28c5-4c72-b7e2-e3884643d88d</string>
				<key>dateExpires</key>
				<string>5/27/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: io.radar.pulse</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>96GHH65B9D</string>
				<key>name</key>
				<string>Radar Labs, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
